name: Release

on:
  release:
    types: [ published ]

jobs:
  FileAnalyzer:
    name: FileAnalyzer
    runs-on: ubuntu-latest
    steps:
      - name: Setup go 1.19
        uses: actions/setup-go@v3
        with: { go-version: '1.19' }

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}